body{
  background-color: bisque;
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s ease;
}

.add-button{
  background-color: rgb(73, 216, 73);
}

.add-button:hover{
  background-color: rgb(61, 143, 61);
}

.delete-button{
  background-color: rgb(161, 43, 43);
}

.delete-button:hover{
  background-color: rgb(243, 8, 39);
}

.move-button{
  background-color: rgb(84, 23, 226);
}

.move-button:hover{
  background-color: rgb(25, 10, 48);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(49, 46, 46);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.788);

}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: gainsboro;
  margin-bottom: 10px;
  border: 3px solid rgb(198, 206, 214);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.5rem;
  margin-left: 10px;

}

